.col {
    background-color: rgba(0, 0, 255, 0.466);
    border: 1px #b1b0b0 solid;
}

.konten, .sidebar{
    background-color: rgba(0, 0, 255, 0.466);
    border: 1px #b1b0b0 solid;
    height: 450px;
}

.top-konten{
    background-color: rgba(0, 0, 255, 0.466);
    border: 1px #b1b0b0 solid;
    height: 300px;
}

.bottom-konten{
    background-color: rgba(0, 0, 255, 0.466);
    border: 1px #b1b0b0 solid;
    height: 148px;
}

h3{
    color:red;
    background-color: blue;
}